::-moz-selection {
	background: transparent;
}

::selection {
    background-color:transparent;
}

body,html {
	font-family: "Roboto Condensed", sans-serif;
	height:100vh;
	width:100vw;
	padding:0;
	margin:0;
    font-size:2vh;
}

#menudiv, #tablediv {
}
#menudiv {
	position: relative;
	height: 12vh;
	width: 100vw;
	background-color:#000000;
}
h2 {
	color: lightskyblue;
	text-align: center;
	font-size:3vh;
}

#header, #next, #wochenAnsicht {
	display: inline;
}
#prev,#next, #wochenAnsicht {
}
#prev, #next {
	opacity: 0.65;
}

#prev:hover, #next:hover {
	opacity:1;
}

#tablediv {
	height: 80vh;
	width: 100vw;
	position: relative;
}
#overlay {
	height: 88vh;
	width: 100vw;
	position: absolute;
	top:12vh;
	background-color:rgba(100,100,100,0.4);
	z-index:100;
	display:none;
}
#wochenAnsicht {
}

#weekTable {
	display:none;
}

#monthTable,
#weekTable,
#dayview, #appointmentform {
	margin-top:4vh;
	width: 75vw;
	height: 80vh;
	overflow:hidden;
}

#dayview, #appointmentform {
	position:absolute;
	background-color:rgba(217, 217, 217, 0.2);
	width:72vw;
	display:none;
}

#day_header, #form_header {
	position: absolute;
	background-color:lightskyblue;
	height:10vh;
	font-size:4vh;
	width:72vw;
	top:0;
	left:0;
}

#dayview_close, #appointment_close {
	position: absolute;
	top:50%;
	right:2vh;
	transform:translateY(-50%);
	width:4vh;
	height:4vh;
	font-size:4vh;
	color:#333;
	cursor: pointer;
}

#monthTable div div,
#weekTable div div {
    width: 10vw;
    height: 11vh;
    text-align: center;
	display:inline-block;
	position: relative;
	margin-right:0.2vw;
}

.new {
	background-color: rgba(217, 217, 217, 0.75);
}

.reset {
	background-color: rgba(217, 217, 217, 0.2);
}

.today {
	background-color: rgba(255, 84, 84, 0.75);
}

.weekend {
	background-color: rgba(255, 250, 175, 0.65);
}

.weekend:hover {
	background-color: rgba(255, 250, 175, 1);
}

.dark_weekend {
	background-color: rgba(215, 215, 140, 0.75);
}

.dark_weekend:hover {
	background-color: rgba(215, 215, 140, 1);
}

.new:hover {
	background-color: rgba(217, 217, 217, 1);
}

.reset:hover {
	background-color: rgba(217, 217, 217, 0.4);
}

.today:hover {
	background-color: rgba(255, 84, 84, 1);
}


.center {
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}

#weekTable div div span,
#monthTable div div span {
	position: absolute;
	top:1vh;
	left:50%;
	transform: translateX(-50%);
	text-align: center;
}

.weekdays_header span {
	top:50% !important;
	left:50% !important;
	transform: translate(-50%, -50%) !important;
}

#days_of_week,
#days_of_week div {
	height:67.5vh !important;
}

#next {
	position: absolute;
	font-size:4.5vw;
	top:50%;
	right:10vw;
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
	color:#000;
}

#prev {
	position: absolute;
	font-size:4.5vw;
	top:50%;
	left:10vw;
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
	color:#000;
}

.weekdays_header {
	background-color:lightskyblue;
}

.button {
	position: absolute;
	background-color:lightskyblue;
	color:#000;
	transform: translateY(-50%);
	top:50%;
	padding:1vw;
	border:0.3vh solid #fff;
	cursor: pointer;
	text-align: center;
}

#change {
	width:5.5vw;
	right:2vw;
}

#today {
	right:10.5vw;
}

#appointment{
	right:16.0vw;
}

main {
	display:none;
}

#loginarea {
	font-size:8vh;
	text-align:center;
}

#login {
	background-color:lightblue;
	font-size:5vh;
	padding:1vh;
	margin-top:1vh;
	cursor: pointer;
}

#kw {
	font-size:2vh;
}

.appointments {
	width:100% !important;
	height:70% !important;
	position:absolute !important;
	bottom:0 !important;
	left:0;
	transition:all 0.3s ease-in-out;
}

.appointment {
	position: relative;
	height:2.5vh !important;
	font-size:1.8vh !important;
	width:100%;
	background-color:rgba(0,0,0,0.1);
	color:#333;
	margin-top:0.5vh;
	text-align:right !important;
	padding-right:1vh;
	box-sizing: border-box;
    cursor: pointer !important;
}

.appointment .time {
	position:absolute !important;
	left:0.5vh !important;
	top:0 !important;
	transform: none !important;
}

#dayview_back {
	position:absolute;
	width:200vw;
	height:200vw;
	top:0;
	right:0;
	transition:all 0.75s ease-in-out;
	background-color:transparent;
	border-radius:50%;
	transform:translate(50%, -50%) scale(0.1);
	z-index:10000;
}

.active #dayview_back{
	background-color:#fff;
	transform:translate(50%, -50%) scale(1);
}

nav {
	position:absolute;
	top:50%;
	left:3vh;
	transform:translateY(-50%);
	color:#fff;
	font-size:4vh;
	cursor:pointer;
}

#menu {
	position:absolute;
	left:-20vw;
	top:12vh;
	width:20vw;
	height:88vh;
	z-index:100;
	background-color:rgba(0,0,0,0.8);
	transition:all 0.3s ease-in-out;
}

.activeMenu {
	left:0 !important;
}

.addApp {
	height:2vh !important;
	width:2vh !important;
	left:0 !important;
	top:0 !important;
	position: absolute !important;
	background-color:rgba(255,255,255,1);
	padding:0.3vh;
	color:yellowgreen;
	cursor:pointer;
	display:none !important;
}

.weekend:hover .addApp,
.dark_weekend:hover .addApp,
.new:hover .addApp,
.reset:hover .addApp,
.today:hover .addApp {
	display:block !important;
}
