body,html {
	font-family: "Roboto Condensed", sans-serif;
	height:100vh;
	width:100vw;
	padding:0;
	margin:0;
}

#menudiv, #tablediv {
}
#menudiv {
	position: relative;
	height: 12vh;
	width: 100vw;
	background-color:#000000;
}
h2 {
	color: lightskyblue;
	text-align: center;
}
#header, #next, #wochenAnsicht {
	display: inline;
}
#prev,#next, #wochenAnsicht {
}
#prev {

}
#next {
}

#tablediv {
	height: 80vh;
	width: 100vw;
	position: relative;
}
#wochenAnsicht {
}

#weekTable {
	display:none;
}

#monthTable,
#weekTable{
	width: 75vw;
	height: 70vh;
}
#monthTable div div,
#weekTable div div {
    width: 10vw;
    height: 11vh;
    text-align: center;
	display:inline-block;
	position: relative;
}

.new {
	background-color: rgba(217, 217, 217, 0.6);
}

.reset {
	background-color: rgba(217, 217, 217, 0);
}

.today {
	background-color: #ff5454;
}

.center,
#weekTable div div span,
#monthTable div div span {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#days_of_week,
#days_of_week div {
	height:60vh !important;
}

#next {
	position: absolute;
	font-size:4.5vw;
	top:50%;
	right:10vw;
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
	color:#000;
}

#prev {
	position: absolute;
	font-size:4.5vw;
	top:50%;
	left:10vw;
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
	color:#000;
}

.weekdays_header {
	background-color:lightskyblue;
}

#change {
	position: absolute;
	right:2vw;
	background-color:lightskyblue;
	color:#000;
	transform: translateY(-50%);
	top:50%;
	padding:1vw;
	border:0.3vh solid #fff;
	cursor: pointer;
}